.Container {
  display: flex;
  align-items: center;
  padding: 0 3rem;

  .SettingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 1rem;

    .SettingsIcon {
      margin-top: 1rem;
      cursor: pointer;
    }
  }
}

.PopoverContent {
  display: flex;
  width: 400px;
  max-height: 250px;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  overflow-y: auto;

  .PopoverItem {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #626161;
    }
  }

  .Selected {
    background-color: #626161;
  }
}