.Container {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  background-color: #4a4848;
  gap: 1rem;

  .SettingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;

    .ProviderTitle {
      margin: 0;
    }
  }

  .Right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  }
}