 @import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
 

.Container {
    display: flex;
    flex-direction: column;
}

.Body {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
}   