.SidebarLogo {
  display: flex;
  padding: 1rem 1rem 0 0;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    padding: 2.5px;
    border: 1px solid;
    border-radius: 15%;
    margin-left: auto;
    cursor: pointer;
  }
}

.LightMenu {
  svg {
    border-color: black;
    fill: black;
  }

}

.DarkMenu {
  svg {
    border-color: white;
    fill: white;
  }
}

.SidebarHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;

  .NewChatBtn {
    display: flex;
    width: 100%;
    gap: .5rem;
  }
}

.Menu {
  height: 65%;
  overflow-y: auto;

  svg {
      width: 1.3rem;
      height: 1.3rem;
    }

  .MenuItem {
    display: flex;
    width: calc(100%);
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
   

    .Label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .DeleteButton {
      margin-left: auto;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover .DeleteButton {
      opacity: 1;
    }
  }
}

.SwitchContainer {
  display: flex;
  justify-content: end;
  padding: 2rem 3rem;
}

.LoadingContainer {
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}