.SidebarHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;

  .NewChatBtn {
    display: flex;
    width: 100%;
    gap: .5rem;
  }
}

.Menu {
  height: 80%;
  overflow-y: auto;
}

.LoadingContainer {
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}